body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
     text-align: center;
 }

/* Header */

header {
    height: 69px;
    width: 100%;
    position: fixed;
    background-color: black;
    border-bottom: 1px solid seashell;
    -webkit-box-align: center;
    z-index: 1;
}

header img {
    height: 50px;
    padding-left: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 
/* Menu Navigation */

a {
    text-decoration: underline;
    color: seashell;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

/* Main Content Container */

.main {
    padding-top: 69px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
}

/* Mission Section */

#mission {
   height: 700px;
   background-image: url(./resources/img-mission-background.jpg);
   padding-top: 70px;
}

#mission .content {
    margin: auto;
    background-color: black;
    width: 100%;  
}

h2, h3, h4 {
    margin: 0;
    padding: 10px;
}

/* Store Section*/

#store {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;
 }

 .flex-container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

.item {
    padding: 5px;
    margin: 1px 1px;
}

.item img {
    width: 300px;
    height: 200px;
 }

.item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.item img h2, h4 {
    margin: 0;
    padding: 10px;
}

/* Locations Section */

#locations {
    background-image: url(./resources/img-locations-background.jpg);
    height: 500px;
    padding-top: 70px;
}

#locations .flex-container {
    margin: auto;
    width: 1100px;
    z-index: 12;
}

.flex-container .location {
    padding-top: 5px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.location {
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contact Section */

#contact {
    height: 200px;
}

/* Footer Section */

footer {
    text-align: left;
    padding-left: 20px;
}
